.drum-pad {
	flex: 0 31%;
	height: 75px;
	margin-right: 2%;
	margin-top: 2%;

	background-color: gray;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: black 3px 3px 5px;

	display: flex;
	align-items: center;
	justify-content: center;
}

div .pressed {
	background-color: orange;
	box-shadow: 0 3px grey;
	transform: translate(0px, 2px);
}

@media only screen and (max-width: 600px) {
	/* .drum-pad {
		height: 31%;
	} */
}
